/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background: #F5E6D3; /* Cream Background */
    font-family: Arial, sans-serif;
}

/* TOP BAR */
.top-bar {
    background: #6B3518; /* Dark Brown */
    color: white;
    text-align: center;
    padding: 8px;
}

/* HEADER */
.header {
    background: #FFFFFF; /* White */
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D8C3AF;
}

/* LOGO */
.logo h2 {
    color: #6B3518; /* Dark Brown */
}

/* SEARCH */
.search input {
    padding: 8px;
    width: 250px;
    border: 1px solid #D8C3AF; /* Soft Gray */
    border-radius: 20px;
}

/* ICONS */
.icons a {
    color: #6B3518;
    margin-left: 15px;
    font-size: 18px;
}


/* MENU */
.menu {
    background: #6B3518; /* Dark Brown */
    padding: 10px;
    text-align: center;
}

.menu a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 20px;
}

.menu a:hover {
    background: #F39C4A; /* Light Orange */
    color: black;
}

/* BANNER */
.banner {
    background: #EEDDC8; /* Light Beige */
    text-align: center;
    padding: 60px 20px;
}

.banner h1 {
    color: #6B3518;
}

.banner p {
    color: #8A4B2A; /* Medium Brown */
}

/* SECTION */
.section {
    padding: 30px;
}

.section h2 {
    color: #6B3518;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #FFFFFF; /* White */
    border: 1px solid #D8C3AF;
    padding: 15px;
    width: 220px;
    border-radius: 10px;
    text-align: center;
}

.card p {
    color: #8A4B2A; /* Medium Brown */
}

/* BUTTON */
button {
    background: #E86A17; /* Orange */
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
}

button:hover {
    background: #F39C4A; /* Light Orange */
}

/* FOOTER */
.footer {
    background: #6B3518;
    color: white;
    text-align: center;
    padding: 15px;
}

/* BOTTOM NAV */
.bottom-nav {
    background: #FFFFFF;
    border-top: 1px solid #D8C3AF;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.bottom-nav a {
    color: #6B3518;
    text-decoration: none;
    text-align: center;
}

.bottom-nav a:hover {
    color: #E86A17;
}